[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "*"
prefect-gcp = "*"
python-dotenv = "*"
pandas = "*"
fastparquet = "*"
pyspark = "*"
pandas-gbq = "*"
gcsfs = "*"
dbt-core = "*"
install = "*"
dbt-bigquery = "*"
prefect-dbt = "*"

[dev-packages]

[requires]
python_version = "3.11"
